.information {
  &__box {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}
input {
  border: 1px solid #bcbcbc;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 8px 15px;
  border-radius: 5px;
  height: 35px;
  color: #696969;
  display: block;
  font-size: 15px;
  outline: none;
}

label {
  font-weight: 600;
  display: inline-block;
  margin-bottom: 5px !important;
  font-size: 14px;
}

textarea {
  border: 1px solid #bcbcbc;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 5px 15px;
  border-radius: 10px;
  height: 70px;
  color: #696969;
  display: block;
  width: 100%;
  outline: none;
}

.textarea--one {
  height: 138px;
}

.button {
  text-align: center;
  width: 100%;
  margin-top: 30px;
  background-color: #63b899;
  color: white;
  font-weight: 500;
  border-radius: 15px;
  padding: 8px 0;
  font-size: 16px;

  &:hover {
    background-color: #fff;
    color: #63b899;
    box-shadow:
      0 0 10px #63b899,
      0 0 20px #63b899;
  }
}
