.container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

label {
  font-size: 17px;
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

input {
  border-bottom: 2px solid #9e9e9e;
  margin-bottom: 30px;
  padding: 8px 10px;
  outline: none;
  color: #696969;
}

form {
  display: inline;
}

.button {
  outline: none;
  &:hover {
    background-color: #fff;
    color: #63b899;
    box-shadow:
      0 0 10px #63b899,
      0 0 20px #63b899;
  }
}
