.home {
  &__fillter {
    background-color: var(--color-three);
    font-size: 16px;
    padding: 10px 20px 10px 12px;
    width: 100px;
    height: auto;
    margin-top: 12px;
  }
  &__fillter:hover {
    background-color: var(--color-three);
  }

  &__box {
    background-color: #efefef;
  }

  &__inner {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
  }

  &__select {
    margin-right: 0;
    padding: 5px;
    border: 2 solid !important;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 0 4px 8px #2323234f;
  }

  &__label {
    font-weight: 600;
    margin-right: 10px;
  }

  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__innerTwo {
    display: flex;
  }

  &__items {
    flex: 1;
  }
}


